.body {
	font-size: 13px;
	line-height: 24px;
	color: #000000;
	font-weight: normal;
	font-family: "PT Sans", sans-serif;
}
.h1 {
	font-size: 30px;
	line-height: 30px;
	font-family: "Cuprum", sans-serif;
}
.h2 {
	font-size: 14px;
	line-height: 20px;
	font-family: "Cuprum", sans-serif;
}
html,
body {
  min-width: 1122px;
  min-height: 1750px;
  margin: 0;
  padding: 0;
}
.header {
	min-height: 43px;
	background: #293449;
}
.container {
	width: 940px;
  padding: 0 10px;
  margin: 0 auto;
}
.logo {
	float: left;
	width: 220px;
	background: #ee3643;
	height: 43px;
	margin-right: 20px;
	text-align: center;

}
.search {
	float: left;
	width: 272px;
	margin-top: 10px;

}
.menu  {
	width: 428px;
	float: left;
	
	background: white;
	height: 43px;

}
.header-continue {
	height: 280px;
	background: #f1f5f7;
}
.header-continue p {
	width: 300px;
	height: 110px;
	float: left;
	background: yellow;
	margin-right: 20px;

}
.user-block, .personal-cabinet {
	margin-top: 16px;
	width: 300px;
	height: 110px;
	float: left;
	background: yellow;
	
}
.user-block .login {
	width: 120px;
	height: 44px;
	background: white;
	display: inline-block;
	margin-left: 19px;
	margin-right: 10px;

}
.user-block .registration {
	width: 147px;
	height: 44px;
	background: white;
	display: inline-block;

}
.clearfix::after {
    display: table;
    content: "";
    clear: both;
}

.main-navigation {
	
	height: 60px;
	width: 940px;
	background: #32425c;
	color: white;
	margin-bottom: 60px;

}
.main-navigation li {
	display: inline-block;
	margin-right: 10px;
}
.popular-sentence {
	width: 940px;
	height: 410px;
	margin-bottom: 54px;
	margin-top: 60px;
}
.popular-sentence article {
	float: right;
	outline: 1px dashed black;
	width: 300px;
	height: 124px;
	margin-left: 20px;
	margin-bottom: 20px;
}
.popular-sentence article:nth-child(3n) {
		margin-left: 0px;

}
.popular-sentence .slider-image {
	width: 620px;
	height: 270px;
	float: left;
	margin-left: 0px;
}
.products {
	margin-top: 10px;
	height: 90px;
	width: 940px;
	border: 1px dashed black;
	margin-bottom: 20px;
	background: #f7f3ec;
}
.products p {
	float: left;
	width: 362px;
	height: 35px;
	margin-left: 25px;
	margin-top: 25px;
	outline: 1px dashed black;
}
.products a {
	float: right;
	width: 250px;
	height: 38px;
	margin-right: 25px;
	margin-top: 28px;
	outline: 1px dashed black;
}
.popular-products article, .catalog article{
	width: 220px;
	height: 317px;
	float: left;
	margin-right: 20px;
	outline: 1px dashed black;
	margin-bottom: 25px;
}

.catalog article:nth-child(3n) {
	margin-right: 0px;
}
.item-card-image img {
	margin-bottom: -15px;
}
.popular-products article:last-child {
	margin-right: 0px;
}
.materials {
	background: #f6b22d;
}
.tools {
	background: #4aafde;
}
.technique {
	background: #cc79d1;
}
.sale {
	background: #85d179;
}
.transport {
	background: #f6b22d;
}
.firms {
	
	height: 90px;
	width: 940px;
	border: 1px dashed black;
	margin-bottom: 25px;
	background: #f7f3ec;
}
.firms p {
	float: left;
	width: 362px;
	height: 35px;
	margin-left: 25px;
	margin-top: 25px;
	outline: 1px dashed black;
}
.firms a {
	float: right;
	width: 250px;
	height: 38px;
	margin-right: 25px;
	margin-top: 28px;
	outline: 1px dashed black;
}

.popular-firms {

	width: 940px;
	height: 310px;
	float: left;
	margin-right: 20px;
	margin-bottom: 20px;
	border: 1px dashed black;
}
.popular-firms a {
	width: 220px;
	height: 145px;
	outline: 1px dashed black;
	float: left;
	margin-right: 20px;
	margin-bottom: 20px;
}
.popular-firms img {
	*left: 50%;
	top: 50%;
	transform: translateX(50%) translateY(74%);
}
.popular-firms a:nth-child(4n) {
	margin-right: 0px;
}
.service {
	margin-top: 10px;
	height: 520px;
	background: #f2f6f8;
	border: 1px dashed black;
	margin-bottom: 10px;

}
.company {
	width: 570px;
	height: 390px;
	float: left;
	border: 1px dashed black;
}
.connection {
	width: 300px;
	height: 390px;
	float: right;
	border: 1px dashed black;
}
.footer-1 {
	margin-top: 10px;
	height: 193px;
	border: 1px dashed black;
}

.column-1 {
	float: left;

	width: 380px;
	height: 194px;
}
.logo-footer {
	float: left;
	margin-bottom: 10px;
	width: 220px;
	height: 70px;
	background: #ee3643;
	outline: 1px dashed black;
}
.footer-adress {
	outline: 1px dashed black;
	width: 370px;
	height: 70px;
	float: left;
}
.column-2 {
	float: right;
	width: 560px;

}
.footer-page-1 {
	height: 60px;
	outline: 1px dashed black;

}
.footer-page-2 {
	height: 60px;
	outline: 1px dashed black;
	margin-top: 30px;

}
.footer-2 {
	height: 107px;
border: 1px dashed black;
}
.footer-company {
	float: left;
	width: 250px;
	height: 80px;
	border: 1px dashed black;
	margin-right: 20px;
}
.footer-social {
	float: left;
	width: 250px;
	height: 80px;
	border: 1px dashed black;
	margin-right: 20px;
}
.footer-feedback, .footer-copyright {
	width: 140px;
	height: 60px;
	border: 1px dashed black;
	margin-right: 20px;
	float: left;

}
.breadcrumbs {
	margin-top: 24px;
	margin-bottom: 20px;
}
.header-h1 {
	height: 90px;
	outline: 1px dashed black;
	background: #f2f6f8;
	margin-bottom: 20px;
}
.filter {
	width: 220px;
	height: 760px;
	display: block;
	float: left;
	outline: 1px dashed black;
}
.filter p {
	width: 220px;
	height: 40px;
	background: #f7f3ec;
	margin-top: 0px;
	margin-bottom: 15px;
}
.filter-price {
	margin-top: 20px;
	height: 153px;
	outline: 1px dashed black;
	margin-bottom: 20px;
}
.filter-firms {
	
	height: 234px;
	outline: 1px dashed black;
}
.filter-firms input, .nutrition input {
	margin-bottom: 15px;
}
.nutrition input[type="submit"] {
	margin-top: 77px;
	/*не работает*/
}
.right-column {
	float: right;
	outline: 1px dashed black;
	width: 700px;
	min-height: 1054px;
	margin-top: 0px;

}
.sorting  {
	height: 38px;
	outline: 1px dashed black;
	width: 700px;
	margin-top: 0px;

}
.sorting p {
	height: 38px;
	outline: 1px dashed black;
	width: 220px;
	margin-top: 0px;
	float: left;
	margin-right: 20px;

}
.page {
	width: 234px;
	height: 37px;
	outline: 1px dashed black;
	margin-bottom: 20px;
}
.info {
	background: #f2f6f8;
	height: 230px;
	margin-bottom: 0px;
}
.main-footer {
	margin-top: 0px;
}